@import "tailwindcss";

/* En tu globals.css o cualquier archivo CSS */
body {
  font-family: var(--font-montserrat), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-oswald), sans-serif;
}

.font-montserrat {
  font-family: var(--font-montserrat), sans-serif;
}

.font-oswald {
  font-family: var(--font-oswald), sans-serif;
}